.site-header {
	background-color: #fff;
	box-shadow: 0 15px 10px -15px $box-shadow-light;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
}

/* .site-header--bg-none {
	background-color: transparent;
	box-shadow: none;
	color: #fff;
} */

.site-header--sticky {
	transition: .3s;
	background-color: #fff;
	opacity: 0;
	z-index: 0;
	position: fixed;
}

.site-header--sticky-open {
	background-color: #111;
	box-shadow: none;

	.site-logo {
		color: $gray;
	}
}

.site-header--color-black {
	box-shadow: 0 15px 10px -15px $box-shadow-light;
	color: #000;
}

.site-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;

	.site-header__search {
		display: none;

		@media ( min-width: 992px ) {
			display: block;
			margin-left: 50px;
		}
	}
}

.site-header__inner--flex-direction {
	flex-direction: column;

	.site-logo {
		margin-bottom: 10px;

		@media ( min-width: 576px ) {
			margin-bottom: 0;
		}
	}

	@media ( min-width: 576px ) {
		flex-direction: row;
	}
}

.site-logo a {
	font-size: 20px;

	span {
		position: relative;
		margin-right: 8px;

		&::after {
			content: '';
			transition: .3s;
			position: absolute;
			bottom: 6px;
			right: -7px;
			height: 5px;
			width: 5px;
			border-radius: 99px;
			background-color: $blue;
		}
	}

	&:hover span::after {
		background-color: $orange;
	}

	@media ( min-width: 768px ) {
		font-size: 30px;
	}
}

.site-logo--sm a {
	font-size: 30px;

	&::after {
		bottom: 4px;
	}
}

.site-header__navigation {
	display: none;
	align-items: center;

	@media ( min-width: 992px ) {
		display: flex;
	}
}

.site-navigation__item {
	font-size: 20px;

	a {
		transition: .3s;
		border-bottom: 2px solid transparent;
		padding-bottom: 3px;

		&:hover {
			border-color: $orange;
		}
	}

	& + .site-navigation__item {
		margin-left: 30px;
	}
}

.site-navigation__item--mobile {
	& + .site-navigation__item--mobile {
		margin-top: 5px;
		margin-left: 0;
	}

	&:last-child {
		margin-top: 10px;
	}
}

.site-navigation__item--buttons {
	a {
		transition: .3s;
		border-bottom: 0;
		padding-bottom: 14px;
	}
}

.site-header__navigation--mobile {
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 90px;
	transition: 0.5s; 
}

.site-header__navigation--mobile-open {
	width: 100%;

	@media ( min-width: 576px ) {
		width: 300px;
	}

	.site-navigation__item--mobile {
		color: #818181;
	}
}

.site-header-navigation__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-header__menu-icon {
	height: 45px;
}

.navigation-section-link {
	position: relative;
	height: 10px;
	width: 10px;
	top: -100px;

	@media ( min-width: 992px ) {
		top: -110px;
	}
}
