.site-header__menu-icon {
	width: 31.5px;
	height: 31.5px;
	position: relative;
	z-index: 5;
	-webkit-transform: rotate( 0deg );
	-moz-transform: rotate( 0deg );
	-o-transform: rotate( 0deg );
	transform: rotate( 0deg );
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	@media ( min-width: 576px ) {
		width: 45px;
		height: 45px;
	}

	@media ( min-width: 992px ) {
		display: none;
	}
}

.site-header__navigation--side-navigation {
	.site-header__search {
		margin-bottom: 20px;

		input {
			background-color: #1e1e1e;
		}
	}
}

.site-header__menu-icon--side-navigation {
	position: absolute;
	top: 20px;
	right: 20px;
}

.site-header__menu-icon span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: $gray;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate( 0deg );
	-moz-transform: rotate( 0deg );
	-o-transform: rotate( 0deg );
	transform: rotate( 0deg );
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;

	@media ( min-width: 576px ) {
		height: 7px;
	}
}

.site-header__menu-icon--black span {
	background: #000;
}

.site-header__menu-icon span:nth-child( 1 ) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.site-header__menu-icon span:nth-child( 2 ) {
	top: 12.5px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;

	@media ( min-width: 576px ) {
		top: 18px;
	}
}

.site-header__menu-icon span:nth-child( 3 ) {
	top: 25px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;

	@media ( min-width: 576px ) {
		top: 36px;
	}
}

.site-header__menu-icon--sticky.site-header-menu-icon-open span {
	background-color: $gray;
}

.site-header__menu-icon.site-header-menu-icon-open span:nth-child( 1 ) {
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
	top: 2px;
	left: 5px;

	@media ( min-width: 576px ) {
		top: 3px;
		left: 7px;
	}
}

.site-header__menu-icon.site-header-menu-icon-open span:nth-child( 2 ) {
	width: 0%;
	opacity: 0;
}

.site-header__menu-icon.site-header-menu-icon-open span:nth-child( 3 ) {
	-webkit-transform: rotate( -45deg );
	-moz-transform: rotate( -45deg );
	-o-transform: rotate( -45deg );
	transform: rotate( -45deg );
	top: 25px;
	left: 4px;

	@media ( min-width: 576px ) {
		top: 35px;
		left: 6px;
	}
}
