.title--xl {
	font-size: 30px;

	@media ( min-width: 576px ) {
		font-size: 45px;
	}
	
	@media ( min-width: 768px ) {
		font-size: 48px;
	}
	
	@media ( min-width: 992px ) {
		font-size: 50px;
	}
	
	@media ( min-width: 1200px ) {
		font-size: 60px;
	}
}

.title--lg {
	font-size: 25px;
	
	@media ( min-width: 768px ) {
		font-size: 35px;
	}
	
	@media ( min-width: 992px ) {
		font-size: 45px;
	}
}

.title--md {
	font-size: 22px;
}

.title--sm {
	color: $gray-dark;
	font-size: 20px;
}

.title--mt-md {
	margin-top: 30px;
}

.title--mb-xl {
	margin-bottom: 100px;
}

.title--mb-lg {
	margin-bottom: 60px;
}

.title--mb-md {
	margin-bottom: 40px;
}

.title--mb-sm {
	margin-bottom: 20px;
}

.title--mb-xs {
	margin-bottom: 10px;
}

.text {
	font-size: 18px;
	color: #898989;
	line-height: 1.5;
	text-align: left;
}

.text--md {
	font-size: 22px;
}

.text--sm {
	font-size: 14px;
	font-weight: 600;
}

.text--message {
	font-size: 20px;
	width: fit-content;
	text-align: center;
	color: #000;
	border-radius: 8px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.text--fail {
	color: $red;
}

.text--success {
	color: $green;
}

.text--border {
	width: fit-content;
	border: 1px solid $gray-dark;
	border-radius: 6px;
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
}

.text--orange {
	color: $orange;
}

.text--mb-md {
	margin-bottom: 40px;
}

.text--mb-sm {
	margin-bottom: 20px;
}

.text--mb-xs {
	margin-bottom: 5px;
}

.title--white, .text--white {
	color: #fff;
	border-color: #fff;
}

.text--gray {
	color: #b7b7b7;
    font-weight: 500;
}

.text--black {
	color: #000;
}

.title--gray {
	color: $gray-dark;
}

.text-transform-uppercase {
	text-transform: uppercase;
}

.link {
	color: $blue;
	text-decoration: underline;

	&:hover {
		color: $blue-hover;
	}
}

.text--underline {
	text-decoration: underline;
}
